.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.card {
  display: flex;
  gap: 1rem;
  border-radius: 9px;
}

.card-img {
  border-radius: 9px 9px 0 0;
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  padding: 0;
  padding-inline: 10px;
}

.card-body span {
  font-weight: 600;
}

.add-to-cart-btn {
  display: flex;
  justify-content: center;
  gap: 15px;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
  background-color: hsl(20, 50%, 98%);
  color: hsl(14, 65%, 9%);
  border-radius: 0 0 8px 8px;
  border: 1px solid hsl(7, 20%, 60%);
}

/* .selected-btn {
  background-color: hsl(14, 86%, 42%);
  justify-content: space-between;
  gap: 0;
  color: hsl(20, 50%, 98%);
  border: 1px solid hsl(14, 86%, 42%);
} */

@media (max-width: 576px) {
  .product-container {
    grid-template-columns: 1fr;
  }

  .card .add-to-cart-btn {
    border-radius: 0 0 5px 5px;
  }
}
