main {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.card {
  display: flex;
  gap: 1.5rem;
  border: none;
}

.card-img {
  border-radius: 8px;
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0;
}

.card-body span {
  font-weight: 600;
}

.btn {
  display: flex;
  justify-content: center;
  gap: 15px;
  font-size: 14px;
  font-weight: 600;
  background-color: hsl(20, 50%, 98%);
  color: hsl(14, 65%, 9%);
  border-radius: 50px;
  border: 1px solid hsl(7, 20%, 60%);
}

@media (min-width: 576px) and (max-width: 768px) {
  main {
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  main {
    flex-direction: column;
  }

  .product-container {
    grid-template-columns: 1fr;
  }

  .btn {
    border-radius: 5px;
  }
}
