@font-face {
  font-family: "rht";
  src: url("../fonts/RedHatText-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 400 600 700;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "rht", sans-serif;
  background-color: hsl(13, 31%, 94%);
}

.fluid-container {
  padding: 5rem;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  margin-block-end: 2rem;
}

main {
  display: flex;
  gap: 1.3rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .fluid-container {
    padding: 3rem;
  }

  main {
    flex-direction: column;
    gap: 2rem;
  }
}

@media (max-width: 576px) {
  .fluid-container {
    padding: 1.5rem;
  }

  main {
    flex-direction: column;
    gap: 2rem;
  }
}
